@import url('https://fonts.googleapis.com/css?family=Dosis|Noto+Sans+KR|Shadows+Into+Light|Sunflower:300&display=swap');

* {
  margin: 0;
}

.main-container {
  width: 100%;
  height: 100vh;
  background-color: white;
  .main-banner {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .content {
    width: 100%;
    display: flex;
    background-color: rgb(240, 233, 223);
    .content-desc{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      span {
        font-family: 'Sunflower', sans-serif;
        font-size: 20px;
      }
      .extend-time-container{
        .extend-time {
          width: 60px;
          height: 20px;
          border: 1px solid black;
          border-radius: 5px;
          font-weight: bold;
          background: none;
          text-align: center;
          margin: 0 auto;
          span{
            font-size: 15px;
          }
        }
        .extend-time:hover{
          background-color: black;
          color: white;
          transition: 0.3s;
          cursor: pointer;
        }
      }
      .leftseat-count {
        font-size: 30px;
        font-weight: bold;
      }
    }
    a {
      border: 2px solid black;
      border-radius: 5px;
      background: none;
      height: 50px;
      width: 90px;
      margin: 18% 30px 0 30px;
      text-decoration: none;
      color: black;
      text-align: center;
      line-height: 50px;
      span {
        font-size: 16px;
        font-weight: bold;
      }
    }
    a:focus {
      outline: none;
    }
    a:hover {
      cursor: pointer;
      background: black;
      color: white;
      transition: 0.5s;
    }

    .seat {
      position: relative;
      background-size: cover;
      margin: 20px auto;
      width: 570px;
      list-style-type: none;
      padding: 0;
      font-size: 0;
      border: 1px solid #ddd;
      background-color: rgba(255, 255, 255, 0.6);
      .seat-list {
        text-align: left;
        display: inline-block;
        width: 49px;
        height: 49px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin: 3px;
        .my-seat {
          width: 50px;
          height: 50px;
          position: absolute;
          border-radius: 5px;
          cursor: pointer;
        }
        .other {
          width: 50px;
          height: 50px;
          position: absolute;
          border-radius: 5px;
        }
      }
    }
  }
}
.main-announce {
  background-color: #fff;
  width: 100%;
  height: 500px;
  position: relative;
  .announce {
    background: url('https://image.istarbucks.co.kr/upload/common/img/main/2019/19_autumn2_fav.png')
      no-repeat;
    height: 500px;
    span {
      position: absolute;
      bottom: 22%;
      left: 65%;
      font-family: 'Noto Sans KR', sans-serif;
    }
  }
}

.empty {
  height: 30px;
  width: 100%;
  background-color: rgb(238, 238, 238);
}
.header {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  .header-logo {
    display: flex;
    width: 55%;
    justify-content: space-between;
    span {
      line-height: 100px;
      font-size: 25px;
      font-family: 'Dosis', sans-serif;
    }
    img {
      width: 70px;
      border-radius: 50%;
      margin: 15px 30px;
    }
  }
  .header-title {
    width: 50%;
    line-height: 100px;
    display: flex;
    justify-content: flex-end;
  }
  .header-list {
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: flex-end;
    span {
      margin-right: 30px;
      font-weight: bold;
      font-family: 'Shadows Into Light', cursive;
      text-decoration: none;
      color: black;
    }
    a {
      color: black;
    }
    a:hover,
    span:hover {
      animation: shake 0.5s;
      animation-iteration-count: infinite;
    }
  }
}

.footer {
  background-color: rgb(44, 42, 41);
  height: 100px;
  width: 100%;
  position: relative;
  .github {
    position: absolute;
    top: 30px;
    left: 95%;
    width: 50px;
    height: 50px;
  }
  .blog {
    position: absolute;
    top: 35px;
    left: 90%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .copyright {
    text-align: center;
    line-height: 100px;
    span {
      color: grey;
    }
  }
}

.sign-container {
  background-color: rgb(245, 245, 240);
  width: 100%;
  text-align: center;
  padding-bottom: 100px;
  .sign-title {
    padding: 100px 0 40px 0;
    span {
      font-size: 30px;
    }
  }
  .sign-body {
    margin: 0 auto;
    width: 40%;
    border: 1px solid rgba(116, 116, 116, 0.5);
    border-radius: 5px;
    img {
      padding: 50px 0 30px 0;
    }
    div {
      padding-bottom: 30px;
      span {
        font-size: 20px;
        color: rgb(116, 116, 116);
        font-weight: bold;
      }
    }
    .form-signin {
      .group {
        display: flex;
        flex-direction: column;
        input {
          width: 40%;
          height: 25px;
          margin: 10px auto;
          border-radius: 10px;
          border: none;
          text-align: center;
          font-size: 12px;
        }
        input:focus {
          outline: none;
        }
      }
      .submit {
        width: 80px;
        height: 40px;
        border: 1px solid black;
        border-radius: 5px;
        margin-bottom: 50px;
        font-weight: bold;
        background: none;
      }
      .submit:focus {
        outline: none;
      }
      .submit:hover {
        background: black;
        cursor: pointer;
        color: white;
        transition: 0.5s;
      }
    }
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
