@import url('https://fonts.googleapis.com/css?family=Dosis|Noto+Sans+KR|Shadows+Into+Light|Sunflower:300&display=swap');

.shopping-cart-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  .shopping-cart-desc {
    display: flex;
    height: 20px;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    font-weight: bold;
    font-family: 'Sunflower', sans-serif;
    font-size: 20px;
  }
  .select-seat {
    display: flex;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 20px;
    p {
      font-family: 'Sunflower', sans-serif;
      padding: 10px 20px 10px 20px;
      border-bottom: 1px solid grey;
      border-right: 1px solid grey;
      line-height: 24px;
    }
    span {
      font-family: 'Sunflower', sans-serif;
      padding: 10px 20px 10px 20px;
      font-size: 18px;
      border-bottom: 1px solid grey;
      text-align: center;
      width: 180px;
    }
  }
  .order-content {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    table {
      text-align: center;
      width: 100%;
      div{
        text-align: center;
      }
      td:not(:last-child) {
        font-family: 'Sunflower', sans-serif;
        border-bottom: 1px solid grey;
        border-right: 1px solid grey;
        padding: 10px;
        width: 100px;
      }
      td:last-child {
        font-family: 'Sunflower', sans-serif;
        border-bottom: 1px solid grey;
        padding: 10px;
        width: 100px;
      }
      td {
        input {
          width: 30px;
          text-align: center;
        }
        input:focus {
          outline: none;
        }
      }
    }
  }

  .total-price{
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Sunflower', sans-serif;
    span:last-child{
      font-size: 20px;
      font-weight: bold;
      margin-left: 10px;
    }
  }

  .payment {
    width: 70px;
    border: 1px solid black;
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    span{
      font-size: 15px;
      font-weight: bold;
      font-family: 'Sunflower', sans-serif;
    }
  }
  .payment:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.3s;
  }
}
