@import url('https://fonts.googleapis.com/css?family=Dosis|Noto+Sans+KR|Shadows+Into+Light|Sunflower:300&display=swap');

* {
  margin: 0;
}
.shopping-cart {
  position: fixed;
  bottom: 20px;
  right: 30px;
}
.view-container {
  width: 100%;
  border-top: 2px solid rgba(238, 238, 238, 0.9);
  .seats-container {
    width: 100%;
    padding-bottom: 20px;
    .seats-desc {
      width: 100%;
      padding: 50px 0 ;
      text-align: center;
      span {
        font-family: 'Sunflower', sans-serif;
        font-size: 20px;
      }
    }
    .seats {
      text-align: center;
      padding: 50px 0;
      border-bottom: 2px solid rgba(238, 238, 238, 0.9);
    }
  }
  .menu-container {
    border-top: 2px solid rgba(238, 238, 238, 0.9);
    width: 100%;
    .menu-desc {
      width: 100%;
      padding: 50px 0 ;
      text-align: center;
      span {
        font-family: 'Sunflower', sans-serif;
        font-size: 20px;
      }
    }
    .banner{
      width: 100%;
      height: 300px;
      background: url('https://www.ediya.com/images/menu/bakery_visual.jpg') no-repeat center;
      background-size: cover;
    }
    .menu {
      text-align: center;
      padding: 50px 0;
      border-bottom: 2px solid rgba(238, 238, 238, 0.9);
      background-color: grey;
      .category{
        .category-desc{
          padding: 10px;
          span{
            font-size: 30px;
            font-family: 'Sunflower', sans-serif;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.like {
  background-color: #fff;
}

.drag__solved-board {
  position: relative;
  background-size: cover;
  margin: 0 auto;
  width: 570px;
  list-style-type: none;
  padding: 0;
  font-size: 0;
  border: 1px solid #ddd;
  background-color: rgba(255, 255, 255, 0.6);
}
.seats-list {
  text-align: left;
  display: inline-block;
  width: 49px;
  height: 49px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 3px;
  .table {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 5px;
    cursor: pointer;
  }
  .wall {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 5px;
  }
}