@import url('https://fonts.googleapis.com/css?family=Dosis|Noto+Sans+KR|Shadows+Into+Light|Sunflower:300&display=swap');

* {
  margin: 0;
}
.shopping-cart {
  position: fixed;
  bottom: 20px;
  right: 30px;
}
.shopping-cart:hover {
  cursor: pointer;
}
.shopping-cart:active {
  transform: scale(0.9);
  transition: 0.25s;
}
.view-container {
  width: 100%;
  border-top: 2px solid rgba(238, 238, 238, 0.9);
  .seats-container {
    width: 100%;
    padding-bottom: 20px;
    .seats-desc {
      width: 100%;
      padding: 50px 0;
      text-align: center;
      span {
        font-family: 'Sunflower', sans-serif;
        font-size: 20px;
      }
    }
    .seats {
      text-align: center;
      padding: 50px 0;
      border-bottom: 2px solid rgba(238, 238, 238, 0.9);
    }
  }
  .menu-container {
    border-top: 2px solid rgba(238, 238, 238, 0.9);
    width: 100%;
    .menu-desc {
      width: 100%;
      padding: 50px 0;
      text-align: center;
      span {
        font-family: 'Sunflower', sans-serif;
        font-size: 20px;
      }
    }
    .banner {
      width: 100%;
      height: 300px;
      background: url('https://www.ediya.com/images/menu/bakery_visual.jpg')
        no-repeat center;
      background-size: cover;
      .menu-selector {
        height: inherit;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        span {
          font-size: 20px;
          span {
            font-weight: bold;
            font-size: 30px;
          }
        }
        .category-desc {
          display: flex;
          flex-direction: row;
          padding-top: 50px;
          div {
            border: 1px solid grey;
            padding: 10px 80px;
            span {
              font-size: 18px;
              font-weight: bold;
            }
          }
          div:hover {
            color: white;
            background-color: grey;
            cursor: pointer;
          }
        }
      }
      .loading {
        span {
          font-weight: bold;
        }
      }
    }
    .menu {
      border-bottom: 2px solid rgba(238, 238, 238, 0.9);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding: 35px 210px;
      .category-menu {
        border: 2px solid whitesmoke;
        margin: 10px;
        padding: 10px;
        width: 210px;
        height: 280px;
        border-radius: 5px;
        .category-menu-name {
          font-size: 20px;
          font-weight: bold;
          padding: 20px 0;
          text-align: center;
          border-bottom: 2px solid black;
        }
        .category-menu-price {
          padding-top: 30px;
          float: right;
        }
        .category-menu-desc {
          padding-top: 30px;
          word-break: keep-all;
          font-family: 'Sunflower', sans-serif;
        }
      }
      .category-menu:hover {
        background: whitesmoke;
        cursor: pointer;
        transform: scale(1.02);
        transition: 0.25s;
      }
      .category-menu:active {
        transform: scale(0.9);
        transition: 0.25s;
      }
    }
  }
}

.like {
  background-color: #fff;
}

.drag__solved-board {
  position: relative;
  background-size: cover;
  margin: 0 auto;
  width: 570px;
  list-style-type: none;
  padding: 0;
  font-size: 0;
  border: 1px solid #ddd;
  background-color: rgba(255, 255, 255, 0.6);
}
.seats-list {
  text-align: left;
  display: inline-block;
  width: 49px;
  height: 49px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 3px;
  .seat-number {
    padding: 5px 5px;
    position: absolute;
    p {
      font-size: 13px;
    }
  }
  img {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 5px;
    cursor: pointer;
  }
  .table {
    .table-image-conatiner {
      img {
        width: 50px;
        height: 50px;
        position: absolute;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
  .wall {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 5px;
  }
}

.order-list {
  position: fixed;
  width: 50%;
  height: 600px;
  background-color: rgba(238, 238, 238, 0.9);
  border-radius: 10px;
  top: 10%;
  left: 25%;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.order-list-container {
  position: fixed;
  width: 50%;
  height: 250px;
  background-color: rgba(238, 238, 238, 0.9);
  border-radius: 10px;
  top: 30%;
  left: 25%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  .order-list-desc {
    display: flex;
    height: 20px;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    font-weight: bold;
    font-family: 'Sunflower', sans-serif;
    font-size: 20px;
  }
  .order-content {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    table {
      text-align: center;
      width: 100%;
      td:not(:last-child) {
        font-family: 'Sunflower', sans-serif;
        border-bottom: 1px solid grey;
        border-right: 1px solid grey;
        padding: 10px;
        width: 100px;
      }
      td:last-child {
        font-family: 'Sunflower', sans-serif;
        border-bottom: 1px solid grey;
        padding: 10px;
        width: 100px;
      }
      td {
        input {
          width: 30px;
          text-align: center;
        }
        input:focus {
          outline: none;
        }
      }
    }
  }
  .btn-group {
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    div {
      width: 70px;
      border: 1px solid black;
      height: 30px;
      line-height: 30px;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      span {
        font-size: 15px;
        font-weight: bold;
        font-family: 'Sunflower', sans-serif;
      }
    }
    div:hover {
      background-color: black;
      color: white;
      cursor: pointer;
      transition: 0.3s;
    }
  }
}
